/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    General
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

* {
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
	background-color: lightgrey;
}

/*------------------Boutons---------------------*/

button {
	margin: 1%;
	text-transform: uppercase;
	border: none;
	box-shadow: 0px 0px 5px grey;
	background-color: lightgray;
	padding: 3px;
}

button:hover {
	background-color: grey;
}

.danger {
	background-color: red;
	color: white;
}

input, select {
	flex: auto;
	border: none;
	border-bottom: 2px solid grey;
	margin: 1%;
	padding: 1%;
}

input:invalid {
	border-color: red;
	caret-color: red;
}

/*------------------Tableaux---------------------*/

table {
	border-collapse: collapse;
	width: 100%;
	margin: 5px auto;
	text-align: center;
	overflow-x: scroll;
}

th {
	padding: 5px;
	/*border-bottom: 1px solid black;*/
}

td {
	padding: 3px;
}

tr {
	border-bottom: 1px solid black;
}

table tr:last-of-type {
	border-bottom: hidden;
}

tbody tr:last-of-type {
	border-bottom: 2px solid black;
}

/*------------------Navigation---------------------*/

.topnav {
    background-color: #333;
    overflow: hidden;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
}

.topnav .responsive {
    display: block;
}

.name_site {
    color: green;
    width: 100%;
    text-align: left;
}

.topnav a {
    float: left;
    display: flex;
    
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:not(.name_site) {
    text-align: center;
    color: #f2f2f2;
}

/* Surligne la page active */
.active {
    background-color: #04AA6D;
    color: white;
}
  
.topnav .icon {
    display: none;
}
  
.topnav a:hover {
    background-color: #555;
    color: white;
}
  
/* Rend la navigation bar responsive sur mobile */
@media screen and (max-width: 755px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a .icon {
      float: right;
      display: flex;
    }
    .topnav .responsive {
        position: relative;
    }
    .topnav .responsive a .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav .responsive a {
      float: none;
      display: flex;
      text-align: left;
    }
}

/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    Accueil
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

/*---------------------Home------------------------*/

#home {
    flex-direction: column;
}

.image img {
    width: 100%;
    height: 0px auto;
    opacity: 1;
}

/*---------------------Produits------------------------*/

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
    grid-template-areas:
      "a b"
      "c d";
    align-items: start;
    text-align: center;
    color: whitesmoke;
    background-image: url("../images/agricole-blur.jpeg");
    background-size: cover;
    padding: 10% 0 10%;
}

.cheapest {
    grid-area: a;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    padding: 5% 0 10%;
}

.popularest {
    grid-area: b;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    padding: 5% 0 10%;
}

.newest {
    grid-area: c;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    padding: 5% 0 10%;
}

.highestend {
    grid-area: d;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    padding: 5% 0 10%;
}

@media (max-width: 755px) {
	.wrapper {
		display: block;
	}
}

/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    Produits
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

/*-------------------Recherche Produit----------------------*/

.recherche_produit {
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: white;
    justify-content: center;
}

#tri {
    width:135px;
    max-width: 300px;
}

/*-------------------Produit----------------------*/

.prod {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.page_produit {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}

.produit {
    background-color: gray;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 700px;
    border: 2px solid black;
    border-collapse: collapse;
}

.produit img {
    width: 50%;
    max-height: none;
    height: 0px auto;
    opacity: 0.90;
}

.all_info {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    background-color: lightcoral;
}

/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    Devis
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

.devis {
    display:flex;
    flex-direction: column;
}

.main {
	box-shadow: 0px 0px 10px grey;
	padding: 10px;
	background-color: white;
	max-width: 1000px;
	margin: 2px auto;
	overflow-x: scroll;
    width: 100%;
}

/*-------------------Formulaire-----------------------*/

.formcontent{
	display: flex;
}

.aimante {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

@media (max-width: 755px) {
	.formcontent{
		flex-direction: column;
	}
}

/*-------------------Tableau-----------------------*/

#title_table {
	text-align: center;
	font-weight: bold;
	text-decoration-line: underline;
}

#table * td:first-of-type, #table * th:first-of-type {
    display: none;
}

/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    Avis
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

.avis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    grid-template-areas: 
    "commentaire aside_avis";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avis p { /*les avis dans les sections*/
    text-align: justify; /*texte en justifié*/
}

.avis h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.avis ul {
    list-style: none; /* retirer l'affichage des puces*/
}

@media only screen and (max-width: 755px) { /*Pour une largeur inférieure à 755px */ 
    .avis p {
        font-size: 12.8px; /*les paragraphes du site ont une taille de 12.8px*/
    }
}

@media only screen and (min-width:  755px) { /*Pour une largeur supérieure à 755px :*/
    .avis p {
        font-size: 14.4px; /*les paragraphes de votre site ont une taille de 14.4 px*/
    }
}

@media only screen and (max-width : 755px) {
    .avis { /* le aside passe à droite au delà de 1024px*/
        flex-direction: column;
    }
}

/*--------------------Commentaires-----------------------*/

#section1 { /*rectangle vert contenant le un commentaire d'un client, une photo et un nombre d'étoiles*/
    border: 1px solid  rgb(142, 231, 142);
    padding: 20px;
    background-color: white;
}

#section2 { /*on créé plusiers sections avec les mêmes propriétés et valeurs car sinon, cela nous affiche une erreur sur W3C*/
    border: 1px solid  rgb(142, 231, 142);
    padding: 20px;
    background-color: white;
}

#section3 {
    border: 1px solid  rgb(142, 231, 142);
    padding: 20px;
    background-color: white;
}

.commentaire {  
    grid-area: main;
    width: auto;
    padding: 10px;
}

/*--------------------Aside-----------------------*/

.aside_avis {
    grid-area: sidebar; /* le aside se place juste après le sidebar et donc il apparait sous la section principale*/
    background-color:  rgb(142, 231, 142);
    padding: 10px;
}

/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    A propos
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

.propos { /* le aside passe à droite du main au delà de 1024px*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    grid-template-areas: 
    "about sources";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sources, .about {
    padding: 10px;
}

@media only screen and (max-width : 755px) {
    .propos { /* le aside passe à droite du main au delà de 1024px*/
        flex-direction: column;
    }
}

/*------------------About---------------------*/

.tasktable {
    overflow: scroll;
    border: 2px black;
    width: 100%;
    height: auto;
    background-color: white;
}

/*------------------Sources---------------------*/



/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    Footer
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

.footer {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.row {
    display: flex; /*les éléments du footer sont à l'horizontal*/ 
    flex-wrap: wrap; /*les éléments vont à la ligne lorsque l'on réduit la taille de la fenêtre*/
    align-items: center; /*alignement des éléments*/
    justify-content: space-around; 
}

.footer p { /*paragraphe dans le pied de page*/
    color: #8a8a8a; /*couleur*/
}

.footer h3 { /*titre dans le pied de page*/
    color: white;
    margin-bottom: 20px;
}

.colonne_1, .colonne_2, .colonne_3, .colonne_4 {
    margin-bottom: 20px;
    min-width: 250px;
}

.colonne_1 { /*Développeurs du site*/
    margin-left: 25px;
    flex-basis: 26%;
}

.colonne_2 { /*texte pour la société CHERAU*/
    flex : 1;
    text-align: center;
}

.colonne_2 img { /*logo EFREI*/
    width: 180px;
    margin-bottom: 10px; /*espace entre l'image et le texte*/
    justify-content: center;
}

.colonne_3, .colonne_4 { /*Nos Informations, Nos réseaux sociaux*/
     text-align: center;
     list-style-type: none;  
}

ul {
    width:100%;
    justify-content: space-around;
}

ul, li { 
    list-style-type: none; /*retirer les puces des listes*/
}

.footer hr {
    border : none;
    background: #dbd1d1;/*sépration avec la partie Copyright*/
    margin:19px 0;
    height: 1px; /*espace entre le Copyright et l'autre partie du footer*/

}

.copyright {
    text-align: center;
}

/*max = si l'écran est inférieur ou égal à alors {...}*/
@media (max-width : 1200px) {
    .row {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
}

/*----- ----- ----- ----- ----- ----- ----- ----- ----- -----
    Gestionnaire de navigation
----- ----- ----- ----- ----- ----- ----- ----- ----- -----*/

.chuispala { 
	display:none;
}

.chuisla {
	display:flex;
}
